@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply duration-300 ease-in-out;
  }
  button{
    @apply active:scale-75 focus:shadow-none
  }
  input {
  /* 禁用 iPhone 上的手動縮放 */
  -webkit-user-scalable: none;
  }
  body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    min-height: 100dvh;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #2D3748;
  }
}

@layer utilities {
  .clockFont{
    font-family: 'Handjet', cursive;
  }
}



/* 以下是控制ant-design的樣式 */
.ant-btn-primary{
  @apply from-blue-500 via-blue-600 to-blue-700 shadow-blue-500/50 text-white bg-gradient-to-r hover:bg-gradient-to-br focus:outline-none shadow-lg font-bold rounded-lg px-5 text-center
}

.ant-form-item-label{
  padding-bottom: 0 !important;
}
.ant-form-item-required{
  font-size: 18px !important;
  font-weight: bold;
}
