@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    @apply duration-300 ease-in-out;
  }
  button{
    @apply active:scale-75 focus:shadow-none
  }
  body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    min-height: 100dvh;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: #2D3748;
  }
}
